body {
  background: #eee;
  font-family: sans-serif;
  
  
}

.card {
  background: #e3f4ff;
  width: 400px;
  margin: 16px auto;
  border: white solid 8px;
  
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
  background: #e3f4ff;
}

.content {
  margin-bottom: 8px;
  padding: 16px 8px;
  background: #e3f4ff;
  border-top: white solid 8px;
  border-bottom: white solid 8px;
  
  
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  
  
  
  
}

button {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border: 8px solid white;
}